body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 12px;
box-shadow:  31px 31px 62px #757575,
             -31px -31px 62px #ffffff;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
#successMessage {
    display: none;
    margin-top: 10px;
    text-align: center;
    color: #4CAF50;
}